# Logs
*.log
logs/

# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Cache
.cache/

# Build outputs
dist/
build/

# System files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp

#Wrong
*.wrong
fix-passwords.js

#Backup
*.backup
